*{
    text-align: center;
}

html { 
    background: url("pics/Travel_site.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1{
    font-family: cursive;
    font-size: 5rem;
    color: rgb(rgb(22, 196, 89), rgb(67, 197, 67), blue)
}

h3{
    font-family: cursive;
}

label{
    font-family: cursive;
}

#signup-form{
    align-content: 
}

#submit {
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #submit:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  #submited {
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #submited:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  .card {
      background-color: antiquewhite;
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: auto;
    height: 19rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #5957c5
  }

  .cards {
    
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 25rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #5957c5
}

.selected-image {
    /* background-color: antiquewhite; */
  text-align: center;
  /* border: grey solid 1px; */
  /* padding: 1rem; */
  width: auto;
  height: 7rem;
  display: inline-grid;
  /* margin: 1rem 2rem; */
  /* box-shadow: 3px 4px #5957c5 */
}

.selected-images {
  
text-align: center;
border: grey solid 1px;
padding: 1rem;
width: 50rem;
height: 10rem;
display: inline-grid;
margin: 1rem 2rem;
box-shadow: 3px 4px #5957c5;
position: relative;
}

.remove-selected{
  position: relative;
  top: 20;
  left: 50;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#next {
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #next:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  #previous {
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #previous:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  #logged {
    margin: 1rem 2rem;
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #logged:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  #signed {
    margin: 1rem 2rem;
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #signed:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  #sign-up-button {
    margin: 1rem 2rem;
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #sign-up-button:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }

  #logged-in {
    margin: 1rem 2rem;
    font-family: cursive;
    position: relative;
    background-color: #4c65f3;
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: max-content;
    color: whitesmoke;
    font-size: 10px;
    justify-self: center;
  }
  
  #logged-in:hover {
    background-color: whitesmoke;
    border: #1115ec solid 1px;
    color: #1115ec
  }
  
  
  

  ul{
    border: red 1px solid;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li {
    border: black 1px solid;
    margin: 1rem;
    border-radius: 20%;
    box-shadow: 1rem 2rem cadetblue;
}

li img {
    display: block;
    max-width: 10rem;
    max-height: 10rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

li span {
    padding: 2rem;
}

#companions-container{
    justify-content: center;
    align-items: center;
}

#companions-container img{
    background-color: transparent;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#generate-companion{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:19px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:8px 42px;
	text-decoration:none;
	text-shadow:1px 3px 0px #ffffff;
}
#generate-companion:hover{
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
#generate-companion:active{
	position:relative;
	top:1px;
}